# Dependencies
node_modules/

# IDE & OS
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# WeChat DevTools
client/project.private.config.json

# Build
dist/
private.wx*.key
server.zip
